* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #181818;
  color: #fff;
}
.SearchBox {
  width: 100%;
  height: 60px;
  background-color: #202020;
}
.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header > a > .LogoBrand {
  margin-left: 53%;
  width: 120px;
  height: 66px;
}
.input_search {
  width: 494px;
  height: 24px;
  font-size: 20px;
  padding: 18px;
  border-radius: 2px;
  background-color: #121212;
  color: #e1e1e1;
}
.input_search:focus {
  outline: #4848ff 1.5px solid;
}
.icons {
  width: 15%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icons > .functions {
  width: 50%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}
.icons > .functions > svg {
  fill: #fff;
  width: 30px !important;
  cursor: pointer;
}
.icons > a > img {
  width: 35px;
  height: 35px;
}
.videoList {
  width: 402px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
.videoItems {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 5px;
}
.img_box {
  width: 168px;
  margin: 0 10px 0 0;
}
.img_box > img {
  width: 100%;
  height: 94px;
  object-fit: cover;
  cursor: pointer;
}
.titleVideo {
  /* width: 65%; */
  width: 202px;
}
.titleVideo > b {
  cursor: pointer;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.small {
  cursor: pointer;
  margin-top: 5px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
.VideoMain {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.videoIframe {
  width: 100%;
  margin-top: 5px;
}
.videoIframe > iframe {
  width: 100%;
  height: 378px;
}
.videoInfo {
  padding: 8px;
}
.videoInfo > .titleVideo {
  margin-top: 20px;
  width: 100%;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.channelTitle {
  margin-top: 20px;
  width: 100%;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.descriptionVideo {
  margin-top: 20px;
  width: 80%;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.noResult {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}
.hr {
  background-color: #666;
  border: #666 1px solid;
  margin: 3% 0 3% 0;
}

@media screen and (max-width: 1300px) {
  .VideoMain {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .videos {
    margin: auto;
    width: 80%;
  }
  .videoInfo {
    width: 100%;
  }
  .titleVideo {
    width: 100%;
  }
  .channelTitle {
    width: 100%;
  }
  .descriptionVideo {
    width: 100%;
  }
  .img_box {
    width: 368px;
    margin: 0 3% 0 0;
  }
  .img_box > img {
    margin-left: 0;
    width: 300px;
    height: 150px;
  }
  .videoList {
    width: 100%;
    float: left;
    margin-left: 0;
  }
}

@media screen and (max-width: 900px) {
  .header > a > .LogoBrand {
    margin-left: 20%;
    width: 80px;
    height: 50px;
  }
  .input_search {
    width: 294px;
    font-size: 16px;
    padding: 15px;
  }
  .icons {
    width: 20%;
  }
  .videos {
    margin: auto;
    width: 100%;
  }
  .img_box {
    width: 368px;
    margin: 0 3% 0 1%;
  }
  .videoList {
    width: 100%;
    float: left;
    margin-left: 0;
  }
}
@media screen and (max-width: 700px) {
  .videoItems {
    flex: 100%;
    display: block;
    flex: wrap;
  }
  .img_box > img {
    width: 100%;
    height: 367px;
    margin: 0;
  }
  .img_box {
    width: 100%;
    margin: 0;
    height: 367px;
  }
  .titleVideo {
    margin: 2%;
    padding: 2%;
  }
}
@media screen and (max-width: 500px) {
  .header > a > .LogoBrand {
    margin-left: 1%;
    width: 70px;
    height: 55px;
  }
  .icons > .functions{
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .header > a > .LogoBrand {
    margin-left: 1%;
    width: 80px;
    height: 55px;
  }
  .input_search {
    width: 194px;
    font-size: 16px;
    padding: 15px;
  }
  .img_box{
    width: auto;
    height: auto;
  }
  .img_box > img {
    width: 100%;
    margin: 0;
    height: auto;
    padding: 0;
    object-fit: contain;
  }
  .videoInfo{
    margin: 0;
    padding: 0;
  }
  .titleVideo{
    margin-top: 0;
  }
  .titleVideo > b{
    margin-top: 0;
  }
}
@media screen and (max-width: 330px) {
  html{
    min-width:330px;
    width: 330px;
    max-width: 330px;
  }
}